/* body {
    background-color: darkgreen;
} */
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

.block{
    height: 220px;
    width: 200px;
    margin: 5px;
    background-color: dodgerblue;

}

